<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>基础测试.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>测试题1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>测试题2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>测试题3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>测试题4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>测试题5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>测试题6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>测试题7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>测试题8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>测试题9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>测试题i10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F9AB0D241B74E03200762C2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9AB0D321B74E05700762C2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9AB0D3D1B74E0F500762C2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9AB0D481B74E31100762C2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9AB0D531B74E61C00762C2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9AB0D5E1B74E86400762C2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9AB0D691B74ED9200762C2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9AB0D741B74F24600762C2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9AB0D7F1B74FBF900762C2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9AB0D8A1B74FFAF00762C2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9AB0D951B75024600762C2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
